{% extends 'base.html' %}

{% block head %} 
<title></title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1>Användare</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}   
    <form action="/" method="POST">
        <input type="text" name="add_username" placeholder="Användarnamn" required>
        <button type="submit" name="action" value="add">Lägg till</button>
    </form>
    
    {% if users|length < 1 %}
    <h4 style="text-align: center">Det finns inga användare registrerade</h4>
    {% else %}
    <table border="1">
        <tr>
            <th>Användare</th>
            <th>----</th>
            <th>Åtgärder</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <a href="/user/{{user.id}}/recipebank">Receptbank</a>
                    <br>
                    <a href="/user/{{user.id}}/planmaker">Månadsplan</a>
                    <br>
                    <a href="/user/{{user.id}}/edit">Redigera</a>
                </td>
            </tr> 
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="remove_username" placeholder="Användarnamn" required>
        <button type="submit" name="action" value="remove">Ta bort</button>
    </form>
    {% endif %}


</div>

{% endblock %}