{% extends 'base.html' %}

{% block head %} 
<title></title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1></h1>

    <!-- Makes it possible to show flash() messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form  method="POST">
        <input type="text" name="name" placeholder="Plannamn" required>
        <input type="text" name="link" placeholder="Länk" required>
        <select name="tag" placeholder="Tag" required>
            <option value="" disabled selected>Tag</option>
            <option value="storkok">Storkok</option>
            <option value="vardag">Vardag</option>
            <option value="helg">Helg</option>
        </select>
        <input type="text" name="tag" placeholder="Tag" required>
        <button type="submit" name="action" value="search">Sök</button>
    </form>
    {% if plans|length < 1 %}
    <h4 style="text-align: center">Inga tillagda recept</h4>
    {% else %}
    <table border="1">
        <tr>
            <th>Namn</th>
            <th>Skapad</th>
            <th>Åtgärder</th>
        </tr>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.name }}</td>
                <td>{{ plan.date_created }}</td>
                <td>
                    <!-- <a href="/user/{{user.id}}/planbank">Ingredienser</a>
                    <br>
                    <form action="/user/{{user.id}}/planbank" method="POST">
                        <input type="hidden" name="plan_id" value="{{ plan.id }}">
                        <button type="submit" name="action" value="remove">Ta bort</button>
                    </form>
                    <br> -->
                    <a href="/edit/{{plan.id}}">Redigera plan</a>
                    <form action="/user/{{user.id}}/planbank" method="POST">
                        <input type="hidden" name="plan_id" value="{{ plan.id }}">
                        <button type="submit" name="action" value="remove">Ta bort</button>
                    </form>
                </td>
            </tr> 
        {% endfor %}
    </table>
    {% endif %}

    <a href="{{ prev_url or url_for('routes.index') }}" class="btn">Tillbaka</a>
</div>

{% endblock %}